.main-title{
    font-size: 36px;
    font-weight: bold;
    display: grid;
    place-items: center;
    min-height: 10vh;
}
.center {
    min-height: 90vh;
    display: grid;
    place-items: center;
}
.text-center {
    text-align: center;        /* Centre horizontal */
    vertical-align: middle;    /* Centre vertical */
}
.image{
    height: 150px;
}
.input{
    width: 400px;
}

